# this is a comment. it is not processed
# any line with # in the front is a comment

# this .gitignore file uses the "ignore everything first" style

# first ignore everything by using the * wildcard
*

# then unignore what you want to track. the ! (called "bang") means "not"
!.gitignore
!*.html
!*.jpg
!*.png
!*.gif
!*.ico
!*.md
!*.css